@{
    ViewData["Title"] = "Каталог";
    @model CatalogViewModel;
}

<div class="container">
    <nav aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a asp-controller="Client" asp-action="Home" class="link-body-emphasis">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" class="link-body-emphasis fw-semibold text-decoration-none">
                    Каталог
                </a>
            </li>
        </ol>
    </nav>
    <div class="row row-cols-2">
        <div class="col col-md-4 col-lg-3">
            @foreach (var cls in Model.instrumentClasses.Where(x => x.Parent == null))
            {
                var classes1 = Model.instrumentClasses.Where(x => cls.Equals(x.Parent));
                if (classes1.Any())
                {
                    <div class="dropend mb-2">
                        <button type="button" class="btn btn-primary dropdown-toggle catalog-dropend-button"
                                data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside">
                            @cls.Name
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var cls1 in classes1)
                            {
                                var classes2 = Model.instrumentClasses.Where(x => cls1.Equals(x.Parent));
                                if (classes2.Any())
                                {
                                    <li class="dropend">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            @cls1.Name
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var cls2 in classes2)
                                            {
                                                <li>
                                                    <a class="dropdown-item" asp-controller="Catalog"
                                                    asp-action="Catalog" asp-route-id="@cls2.Id">@cls2.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="dropend">
                                        <a class="dropdown-item" aria-expanded="false" asp-controller="Catalog"
                                           asp-action="Catalog" asp-route-id="@cls1.Id">@cls1.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <button type="button" class="btn btn-primary" aria-expanded="true" asp-controller="Catalog"
                            asp-action="Catalog" asp-route-id="@cls.Id">
                        @cls.Name
                    </button>
                }
                
            }
        </div>
        <div class="col col-md-8 col-lg-9">
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var instr in Model.instruments)
            {
                <div class="col">
                    <div class="card h-100">
                            <img src="@instr.Img" style="aspect-ratio: 1/1; object-fit: contain;" alt="...">
                        <div class="card-body">
                            <p class="card-text">@instr.Class.Name</p>
                            <h5 class="card-title">@instr.Name</h5>
                            <p class="card-text card-price">@instr.Price р.</p>
                            <p class="card-text card-rating">
                                <i class="icon-star"></i>
                                @instr.Rating
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary w-100">В корзину</a>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>