@model Web_music_feb_jun2024.Models.Instrument

@{
    ViewData["Title"] = "Детали";
}
<section>
    <div class="row">
        <div class="col col-8 offset-2">
            <div>
                <h4>Подробнее о товаре</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2 mb-4">
                        Название
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2 mb-4">
                        Производитель
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Manufacturer)
                    </dd>
                    <dt class="col-sm-2 mb-4">
                        Цена (руб.)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2 mb-4">
                        Рейтинг
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Rating)
                    </dd>
                    <dt class="col-sm-2 mb-4">
                        Ссылка на изображение
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Img)
                    </dd>
                    <dt class="col-sm-2 mb-4">
                        Артикул
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Articul)
                    </dd>
                </dl>
            </div>
            <div class="mb-4">
                <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить этот товар</a>
            </div>
            <div>
                <a asp-action="Index">Вернуться к списку товаров</a>
            </div>
        </div>
    </div>
</section>