@model IEnumerable<Web_music_feb_jun2024.Models.Instrument>

@{
    ViewData["Title"] = "Список товаров";
}

<section>
    <div class="row">
        <div class="col col-8 offset-2">
            <h1 class="mb-3">Список товаров</h1>
            <a class="btn btn-primary mb-3" asp-action="Create" role="button">Добавить новый товар</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Производитель
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            Рейтинг
                        </th>
                        <th>
                            Изображение
                        </th>
                        <th>
                            Артикул
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manufacturer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                    @Html.DisplayFor(modelItem => item.Img)
                                </span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Articul)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>